<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <%= render 'layouts/header' %>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home Page</a></li>
        <li class="active">Edit Profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-header">
            <div class="box-header with-border">
              <h3 class="box-title">Basic Information</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="box-body">
               <div class="form-group">
                  <label>Full Name</label>
                  <%= f.text_field :name, autocomplete: "off", placeholder: "Enter Full Name", class: "form-control", required: true  %>
                </div>
               <div class="form-group">
                  <label>E-mail Address</label>
                  <%= f.text_field :email, autocomplete: "off", placeholder: "Enter Email Address", class: "form-control", required: true  %>
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Enter Password", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
                <div class="form-group">
                  <label>New Password Again</label>
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Enter Password Again", class: "form-control" %>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <%= f.submit "Submit", class: "btn btn-primary"%>
                <div class="pull-right">
                  <%= link_to 'Delete account', current_user, method: :delete, data: { confirm: 'Are you sure? This action can not be reversed.' }, class: "btn btn-danger" %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <%= render 'layouts/footer' %>
</body>
